Repository Devil-Training-Camp/ldk-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --fix, stylelint --fix

feat(plugin-core): 插件系统
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-base/template/src/index.js
  packages/cli-plugin-base/template/src/test.js
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-router/src/index.ts
  packages/cli/src/commands/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-manager/src/constant.ts
  packages/plugin-manager/src/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

feat(plugin-core): 插件核心
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-eslint/template/.eslintignore
  packages/cli-plugin-eslint/template/.eslintrc.cjs
  packages/cli-template-base/package.json
  packages/cli-template-base/src/index.js
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-core/src/prompt.ts
  packages/plugin-helper/package.json
  packages/plugin-helper/src/index.ts
  packages/plugin-helper/src/jscodeshift.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

feat(cli-plugin-eslint): eslint 插件
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-eslint/template/eslint.config.js
  packages/cli-plugin-router/src/index.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

feat(plugin-vue): vue插件
  .eslintignore
  .ls-lint.yml
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-base/template/.gitignore
  packages/cli-plugin-base/template/index.html
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-base/template/src/main.js
  packages/cli-plugin-base/template/src/test.js
  packages/cli-plugin-base/template/src/vite-env.d.ts
  packages/cli-plugin-base/template/tsconfig.app.json
  packages/cli-plugin-base/template/tsconfig.json
  packages/cli-plugin-base/template/tsconfig.node.json
  packages/cli-plugin-base/template/vite.config.js
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-eslint/template/.eslintrc.json
  packages/cli-plugin-eslint/template/eslint.config.js
  packages/cli-plugin-eslint/template/src/main.js
  packages/cli-plugin-eslint/template/src/test.js
  packages/cli-plugin-vue/README.md
  packages/cli-plugin-vue/package.json
  packages/cli-plugin-vue/src/index.ts
  packages/cli-plugin-vue/template/.vscode/extensions.json
  packages/cli-plugin-vue/template/src/App.vue
  packages/cli-plugin-vue/template/src/components/HelloWorld.vue
  packages/cli-plugin-vue/template/src/main.js
  packages/cli-plugin-vue/tsconfig.json
  packages/cli/package.json
  packages/cli/src/commands/create.ts
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-helper/src/jscodeshift.ts
  packages/plugin-manager/src/constant.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/dev.ts
Due: ls-lint, eslint --fix, stylelint --fix

feat(plugin-vue): vue插件
  packages/cli-plugin-eslint/src/index.ts
  packages/plugin-helper/src/pkg-json.ts
Due: ls-lint, eslint --fix

feat(plugin-core): 插件核心
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-eslint/template/src/main.js
  packages/cli-plugin-prettier/README.md
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-prettier/src/index.ts
  packages/cli-plugin-prettier/template/.prettierrc.json
  packages/cli-plugin-prettier/template/.vscode/settings.json
  packages/cli-plugin-prettier/tsconfig.json
  packages/cli-plugin-router/src/index.ts
  packages/cli-plugin-router/template/src/App.vue
  packages/cli-plugin-router/template/src/router/index.js
  packages/cli-plugin-router/template/src/test.js
  packages/cli-plugin-router/template/src/views/AboutView.vue
  packages/cli-plugin-router/template/src/views/HomeView.vue
  packages/cli-plugin-vue/src/index.ts
  packages/cli-plugin-vue/template/.vscode/extensions.json
  packages/cli-plugin-vue/template/src/main.js
  packages/cli/src/commands/create.ts
  packages/plugin-core/src/constant.ts
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-core/src/index.ts
  packages/plugin-core/src/plugin.ts
  packages/plugin-core/src/prompt.ts
  packages/plugin-helper/src/index.ts
  packages/plugin-helper/src/path.ts
  packages/plugin-manager/src/constant.ts
  pnpm-lock.yaml
  scripts/dev.ts
Due: ls-lint, eslint --fix, stylelint --fix

feat(plugin-core): 插件核心完成
  packages/cli-plugin-base/src/index.ts
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/plugin.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

feat(plugin-core): 插件
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-prettier/src/index.ts
  packages/cli-plugin-router/src/index.ts
  packages/cli-plugin-vue/src/index.ts
  packages/cli/src/commands/create.ts
  packages/plugin-core/src/constant.ts
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-core/src/index.ts
  packages/plugin-core/src/plugin.ts
  packages/plugin-core/src/prompt.ts
  packages/plugin-manager/src/index.ts
  packages/plugin-manager/src/package.ts
  packages/shared/src/constant.ts
  scripts/dev.ts
Due: ls-lint, eslint --fix

feat(plugin-core): 插件完成
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/index.ts
  packages/cli/src/manager.ts
  packages/plugin-core/package.json
  packages/plugin-core/src/create.ts
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/plugin-manager/src/manager.ts
  packages/plugin-manager/src/package.ts
  packages/shared/package.json
  packages/shared/src/constant.ts
  packages/template-manager/package.json
  packages/template-manager/src/constant.ts
  pnpm-lock.yaml
  scripts/build.ts
  scripts/dev.ts
Due: ls-lint, eslint --fix

ci(release-it): 发布
  .release-it.json
  package.json
  pnpm-lock.yaml
Due: ls-lint

build: release v0.1.0
  .release-it.json
  CHANGELOG.md
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/plugin-core/package.json
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/shared/package.json
  packages/template-manager/package.json
  pnpm-lock.yaml
Due: ls-lint

build: release v0.1.1
  CHANGELOG.md
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/plugin-core/package.json
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/shared/package.json
  packages/template-manager/package.json
Due: ls-lint

build(build): 构建测试
  .release-it.json
  packages/cli/src/commands/plugin.ts
  packages/shared/src/constant.ts
  pnpm-lock.yaml
  scripts/dev.ts
Due: ls-lint, eslint --fix

build: release v0.1.2
  .release-it.json
  CHANGELOG.md
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/plugin-core/package.json
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/shared/package.json
  packages/template-manager/package.json
Due: ls-lint

build: release v0.1.3
  .release-it.json
  CHANGELOG.md
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/plugin-core/package.json
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/shared/package.json
  packages/template-manager/package.json
Due: ls-lint

build: release v0.1.4
  .gitignore
  .ls-lint.yml
  .release-it.json
  CHANGELOG.md
  package.json
  packages/cli-plugin-base/package.json
  packages/cli-plugin-base/template/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
  packages/cli/package.json
  packages/plugin-core/package.json
  packages/plugin-helper/package.json
  packages/plugin-manager/package.json
  packages/shared/package.json
  packages/template-manager/package.json
Due: ls-lint

ci(ci): ci配置
  .github/workflows/release.yml
Due: ls-lint

build(build): build
  .github/workflows/release.yml
  packages/cli/src/commands/create.ts
  packages/plugin-manager/src/manager.ts
  packages/plugin-manager/src/package.ts
  packages/shared/src/action.ts
Due: ls-lint, eslint --fix

feat(cli): cli version
  packages/cli/src/commands/create.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.ts
Due: ls-lint, eslint --fix

build(build cli): build cli
  packages/cli/src/constant.ts
Due: ls-lint, eslint --fix

feat(build): build
  packages/cli/package.json
  packages/plugin-core/src/create.ts
  packages/shared/src/module.ts
Due: ls-lint, eslint --fix

build(build): build
  packages/cli-plugin-base/src/index.ts
  packages/cli/package.json
  packages/plugin-core/src/create.ts
  packages/plugin-helper/src/pkg-json.ts
  scripts/dev.ts
Due: ls-lint, eslint --fix

build(build): build
  packages/cli-plugin-base/package.json
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/package.json
Due: ls-lint

feat(plugin-core): plugin-core
  packages/plugin-manager/src/package.ts
  packages/shared/src/module.ts
  packages/template-manager/src/constant.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

build(build): build
  packages/plugin-core/global.d.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-core/src/plugin.ts
  packages/plugin-core/tsconfig.json
  packages/shared/src/module.ts
Due: ls-lint, eslint --fix

ci(ci): github action
  .gitignore
  packages/cli-plugin-base/package.json
  packages/plugin-core/src/plugin.ts
  scripts/post-publish.ts
Due: ls-lint, eslint --fix

ci(sync): sync publish
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/post-publish.ts
  scripts/sync-publish.ts
Due: ls-lint, eslint --fix

fix(plugin-core): 插件不执行
  packages/plugin-core/src/plugin.ts
  scripts/sync-publish.ts
Due: ls-lint, eslint --fix

fix(cli-plugin-base): ignore file
  packages/cli-plugin-base/package.json
Due: ls-lint

feat(command help): command help and custom plugin
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-eslint/src/index.ts
  packages/cli-plugin-prettier/src/index.ts
  packages/cli-plugin-router/src/index.ts
  packages/cli-plugin-vue/src/index.ts
  packages/cli/src/index.ts
  packages/plugin-core/src/create.ts
  packages/plugin-core/src/file.ts
  packages/plugin-core/src/hook.ts
  packages/plugin-core/src/plugin.ts
  packages/plugin-manager/src/manager.ts
  packages/plugin-manager/src/package.ts
  packages/template-manager/src/manager.ts
  packages/template-manager/src/repository.ts
Due: ls-lint, eslint --fix

feat(create): create default
  packages/cli/src/commands/create.ts
  packages/plugin-manager/src/constant.ts
Due: ls-lint, eslint --fix

docs(docs): project doc
  README.md
  docs/assets/ldk-cli-create.gif
Due: ls-lint

docs(docs): docs
  README.md
  docs/assets/ldk-cli-create-temp.gif
  docs/assets/ldk-cli-temp-add.gif
  packages/cli-plugin-base/README.md
  packages/cli-plugin-base/package.json
  packages/cli-plugin-eslint/README.md
  packages/cli-plugin-eslint/package.json
  packages/cli-plugin-prettier/README.md
  packages/cli-plugin-prettier/package.json
  packages/cli-plugin-router/README.md
  packages/cli-plugin-router/package.json
  packages/cli-plugin-vue/README.md
  packages/cli-plugin-vue/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/template.ts
  packages/plugin-core/README.md
  packages/plugin-core/package.json
  packages/plugin-helper/README.md
  packages/plugin-helper/package.json
  packages/plugin-manager/README.md
  packages/plugin-manager/package.json
  packages/shared/README.md
  packages/shared/package.json
  packages/template-manager/README.md
  packages/template-manager/package.json
Due: ls-lint, eslint --fix

docs(docs): docs
  README.md
Due: ls-lint

docs(docs): docs
  README.md
  packages/cli/README.md
Due: ls-lint

docs(docs): docs
  README.md
  docs/assets/hook.png
  packages/cli/README.md
  packages/plugin-core/README.md
  packages/plugin-helper/README.md
  packages/plugin-helper/src/jscodeshift.ts
  packages/shared/src/module.ts
Due: ls-lint, eslint --fix

fix(plugin-manager): plugin manager choose pkg manager
  packages/cli-plugin-base/src/index.ts
  packages/cli-plugin-vue/src/index.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/manager.ts
  packages/plugin-manager/src/manager.ts
  packages/plugin-manager/src/package.ts
  packages/shared/src/constant.ts
Due: ls-lint, eslint --fix

fix(plugin-manager): cache
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/manager.ts
  packages/plugin-manager/src/package.ts
Due: ls-lint, eslint --fix

docs(docs): docs
  README.md
  packages/plugin-helper/README.md
Due: ls-lint

Path conditions:
  ls-lint: any of: *
  eslint --fix: any of: **/*.{js,vue,ts}
  stylelint --fix: any of: packages/**/*.{css,scss,sass,vue}
